<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16558702031-u5nr1hjhplnaa3kfsbh1t8pm28klo7m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16558702031-u5nr1hjhplnaa3kfsbh1t8pm28klo7m4</string>
	<key>API_KEY</key>
	<string>AIzaSyAawJ4vWL42phpodoE9R2hMTQTazRRzi1E</string>
	<key>GCM_SENDER_ID</key>
	<string>16558702031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.voluntracker.voluntracker</string>
	<key>PROJECT_ID</key>
	<string>voluntracker</string>
	<key>STORAGE_BUCKET</key>
	<string>voluntracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16558702031:ios:bdc54599f7e5a966b066ba</string>
</dict>
</plist>